@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=Poppins:wght@100;300;400;500;600&display=swap');
:root{
    --main-color: grey;
    --black-color: #0e0e0e;
    --border:0.1rem solid rgba(255,255,255,0.4);

}

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.2s ease;
}


html{
    font-size:62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html ::-webkit-scrollbar{
    width: 0.8rem;
    background-color: white;

}
html ::-webkit-scrollbar-track{
    background-color: gray;
}


html ::-webkit-scrollbar-thumb{
    border: radius 3rem; 
    height: 0.3rem;
    background-color: darkblue;

}


body{
    background-color: var(--main-color);
    height: 200vh;
}

section{
    padding: 3.5rem 7%;
}

a{
    color: #003153;
    text-decoration: none;

}


.btn{
    margin-top: 1rem ;
    display: inline-block;
    padding: 1.5rem 3rem;
    border-radius: 30rem;
    font-size: 1.7rem ;
    color: #003153;
    background-color: gainsboro;
    cursor: pointer;
}

.btn:hover{
   background-color: gray;
   
}

.baslik{
    font-size: 2rem;
}


.logo img {
    height: 7rem;
    border-radius: 100%;
}
/*!header başlangıç */
.header  .search-form{
    position: absolute;
    top: 115%;
    right: 7%;
    background-color: #fff;
    width: 50rem;
    height: 5rem;
    display: flex;
    align-items: center;
    border-radius: 4rem;
    box-shadow: 0px 0px 17px -2px rgba(0,0,0,0.75);
    transform: scaleY(0);
}

.header  .search-form.active{
    transform: scaleY(1);
}

.header  .search-form i{
cursor: pointer;
font-size: 2.2rem;
margin-right: 1.5rem;
color: var(--black-color);
}

.header  .search-form input{
    width: 100%;
}



.header .logo img{
    height: 7rem;
}

.header{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 7%;
    margin: 2rem 7%;
    border-radius: 30rem;
    box-shadow: 0px 0px 17px -2px rgba(0,0,0,0.75);
    position: sticky;
    top: 0;
    z-index: 1000;
}
.header .navbar a{
    margin: 0 1rem;
    font-size: 1.6rem;
    color: var(--black-color);
    border-bottom: 0.1rem solid transparent;

}



.header .navbar .active,
.header .navbar a:hover{
    border-color: var(--main-color);
    padding-bottom: 0.5rem;
}

.header .buttons button{
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2rem;
    background-color: transparent;
}
.header #menu-btn{
    display:none;
}

.header .cart-items-container{
   position: absolute;
   top: 95%;
   height: calc(100vh - 9rem);
   width: 35rem;
   background-color: #fff;
   box-shadow: 0px 14px 0px rgb(0 0 0 / 75%);
   right: -100% ;
}

.header .cart-items-container.active{
    right: 3rem;


}

.header .cart-items-container .cart-item .content h3{
    font-size: 2rem;
    color: black;
    padding-bottom: 0.5rem;
}

.header .cart-items-container .cart-item .content .price{
    font-size: 1.5rem;
    color: gray;
}
.header .cart-items-container .btn{
    width: 100%;
    text-align: center;
    border-radius: unset;
}


.header .cart-items-container .cart-item{
    position: relative;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding: 1.5rem;

}

.header .cart-items-container .cart-item:hover{
    
    box-shadow: 0px 8px 0px rgb(0 0 0 / 75%);
}

.header .cart-items-container .cart-item .fa-times{
position: absolute;
top: 1rem;
right: 1.5rem;
font-size: 2rem;
cursor: pointer;
}

.header .cart-items-container .cart-item img{
    height: 7rem;
}



/*!header bitiş*/

/*!Anasayfa Başlangıç*/
.anasayfa{
    min-height: 110vh;
    display: flex;
    align-items: center;
    background: url(../images/pexel.jpg) 
    no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: -13rem;
 
    
    
}

.anasayfa .content{
    max-width: 60rem;
}

.anasayfa .content h3{
    font-size: 6rem;
    color: white ;
}
.anasayfa .content p{
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.8;
    padding: 1rem 0;
    color: white;
}

/*!Anasayfa Bitiş*/

/*!İÇERİK BAŞLANGIÇ*/


.resim{
  
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10%;
    cursor: pointer;
}
.icerik{
    padding: 5rem;
    text-align: center;
    height: 100% ;
    display: flex;
    flex-direction: column ;
    align-items: flex-start;
    justify-content: space-between;
    
    

}
.slot{
    padding: 5rem;
    text-align: center;
    height: 100% ;
    font-size: 300%;
    
    

}

.muse{
    color: white;
}

.kart{
    width: 320px;
    height: 360px;
    border: 1px solid #ddd;
    padding: 0%;
    display: inline-block;
    border-radius: 10%; 


}
.kart:hover{
    border: 2px solid black;
    border-radius: 10%;
}

.baslik{
    margin-top: -4%;
    font-size: 100%;
    color: white;
   cursor: pointer;
}

.baslik:hover{
    color: black;
}

.slot .box-container{
display: grid;
grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
gap: 1.5rem;
}

/*!İÇERİK BİTİŞ*/

/*!ScienceShop Başlangıç*/

.resimbir{
      width: 50%;
      height: 100%;
      margin-top: 5%;
     
}

.resimiki{
    width: 25%;
      height: 50%;
      margin-top: 2%;
      
}





.shop .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.shop .box-container .box{
          text-align: center;
          background-color: white;
          position: relative;
          border-radius: 3rem;
          height: 60rem;
        
         
}

.shop .box-container .box .box-head{
       
        display: flex;
        flex-direction: column;      
        align-items: flex-start;
        position: relative;
        z-index: 10;
   
}

.shop .box-container .box .box-head .title{
    font-size: 1.4rem;
    padding-left: 10%;
    
}

.shop .box-container .box .box-head .name{
font-size: 2rem;
font-weight: bold;
text-align: start;
overflow-wrap: anywhere;
padding-left: 10%;

}

.heading{ 
    font-size: 450%;
    color: white;
  text-align: center;
  margin-bottom: 1%;

}

.dkn{
    color: #0e0e0e;
}
.heading .dkn{
 color: black;
 text-transform: uppercase;
}
.search-input{
    font-size: 1.6rem;
  color: gray;
  padding: 1rem;
  text-transform: none;
  border-radius: 3rem;    
}

.price{
    font-size: large;
}




.shop{
    height: 85rem;
   
}
/*!ScienceShop Bitiş*/

.shop .box-container .box-bottom .info .price, .shop .box-container .box-bottom .info .amount{
    color: gray;

}


.shop .box-container .box-bottom .info{
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
   
}
.shop .box-container .box-bottom .shop-btn a{
        display: flex;
        font-size: 1.4rem;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        width: 6.5rem;
        height: 6.5rem;
        border: 0.2em solid #003153 ;

    
}
.shop .box-container .box-bottom .shop-btn a i{
    font-size: 1.6rem;
    color: #003153;
    display: flex;
    justify-content: space-between;
}
.shop-btn a:hover{
    background-color: gray;
}

/*!ScienceShop Bitiş*/

/*!Hakkmızda Başlangıç*/

.hakkimizda .row{
    display: flex;
    flex-wrap: wrap;
    column-gap: 2rem;

}
.hakkimizda .row .image{
    flex: 1 1 45rem;

}


.hakkimizda .row img{
    width: 80%;
    margin-top: 10%;
    display: flex;
    
}

.hakkimizda .row  .content{
    flex: 1 1 45rem;
    margin-top: 10%;

}

.hakkimizda .row .content h3{
    font-size: 3rem;
    color: black;

}
.hakkimizda .row  .content p{
    font-size: 1.6rem;
    color: #ccc;
    padding: 1rem 0 ;
    line-height: 1.8;
}

/*!Hakkmızda bitiş*/

/*!Günün Bloğu Başlangıç*/
.blog{
    height: 50%;
   
}
 .blog .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
    }

.userbir{
    margin-top: 8%;
}

.blog .box-container .box{
    border: var(--border);
    text-align: center;
    padding: 3rem 2rem;
    background-color: white;
    border-radius: 3rem;

}

.blog .box-container .box p{
   font-size: 1.5rem;
   line-height: 1.8rem;
   pad: 2rem 0;
}





.yazi{
    font-size: large;
    font-weight: bold;
}



.blog .box-container .box .user, .userbir{
          height: 7rem;
          width: 7rem;
          border-radius: 50%;
          object-fit: cover;
}

.user{
    margin-top: 2%;
}
.userbir{
    margin-top: 5%;
}

.blog .box-container .box h3{
    padding: 1rem 0;
    font-size: 2rem;
    color: #003153;

}

.kurucu{
    padding: 1rem 0;
    font-size: 2rem;
    color: darkgray;
}
/*!Günün Bloğu Bitiş*/

/*!İletişim Başlangıç*/
.contact{
    margin-top: 20%;
}
.contact .row{
    display: flex;
    background-color: #003153;
    flex-wrap: wrap;
    gap: 1rem;

}
.contact .row .map {
    flex: 1 1 45rem;
    width: 100%;
    object-fit: cover;
}

.contact .row form {
    flex: 1 1 45rem;
    width: 100%;
    padding: 5rem 2rem;
    text-align: center;
}
.contact .row form h3{
    text-transform: uppercase;
    font-size: 3.5rem;
    color:white;
    padding-right: 20%;
}
.contact .row form .inputbox{
    align-items: center;
    display: flex;
    margin: 2rem 0;
    border: var(--border);
    width: 80%;
}

.contact .row form .inputbox i{
    color: darkgray;
    font-size: 2rem;
    padding-left: 2rem;
}
.contact .row form .inputbox input{
    width: 80%;
    padding: 1rem;
    font-size: 1.7rem;
    color: white;
    text-transform: none;
    background-color: transparent ;
    
}

.btn{
    font-weight: bold;
    cursor: pointer;
}


/*!İletişim Bitiş*/

/*!Yazılı Röportajlar Başlangıç*/

.report .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}
.report .box-container .box{
    background-color: #fff;
    border-radius: 3rem;
}

.report .box-container .box .image{
   height: 25rem;
   overflow: hidden;
   width: 100%;
   border-top-left-radius: 3rem;
   border-top-right-radius: 3rem;
}

.report .box-container .box .image img{
    height: 100%;
    object-fit: cover ;
    width: 100%;
}
.report .box-container .box:hover .image img{
   transform: scale(1.2);
}


.report .box-container .box .content{
    padding: 2rem;

}
.report .box-container .box .title{
    line-height: 1.5;
    font-size: 2.5rem;
    

}

.report .box-container .box span{
    display: block;
    padding: 1rem;
    font-size: 2rem;
    

}
.report .box-container .box .content p{
      font-size: 1.6rem;
      line-height: 1.8;
      color:darkgray;
      padding:1rem 0 ;

}

/*!Yazılı Röportajlar Bitiş*/

/*!footer başlangıç*/
.footer{
    background-color: #003153;
    text-align: center;
}

.footer .search{
    display:flex;
    justify-content: center;
}

.footer .search .search-input{
    width: 30rem;
}
.footer .search .btn-primary{
    background-color: #003153;
    padding: 1rem 2rem;
    margin-left: 1rem;
    color: gray;
padding-bottom: 8%;
}


.search-input{
    font-size: 1rem;
    height: 5rem;
    padding: 1rem;
    text-transform: none;
    border-radius: 1rem;
    color: var(--black-color);
}

.footer .links{
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 1rem;
      
}

.footer .links a{
    background-color: white ;
    padding: 0.7rem 2rem;
    color: black;
    font-size: 2rem;
    border: gray solid;

}

.footer .links a:hover{
    background-color: gray;
}
.footer .share{
    padding: 2rem 0;

}
.footer .share a{
    
    width: 5rem;
    height: 5rem;
    line-height: 5rem;
    color: white;
font-size: 2rem;
border: var(--border);    
border-radius: 50%;
margin: 0.3rem;

}
.footer .share a .ikonlar{
    
    width: 5rem;
    height: 5rem;
    line-height: 5rem;
    color: white;
font-size: 2rem;
border: var(--border);    
border-radius: 50%;
margin: 0.3rem;

}
.footer .share a:hover{
    background-color: gray;
}

.footer .links a.active{
    background-color: gray ;

}

.footer .credit{
    font-size: 2rem;
    color:white;
    font-weight: 300;
    padding-top: 1.5rem;
}
.footer .credit span{
    font-size: 2rem;
    color: gray;
   
}



/*!footer bitiş*/

/*! responsive kısmı başlangıç*/
 @media (max-width: 991px) {
     html{
         font-size: 55%;

     }

     .header{
         padding: 1.5rem 2rem;
     }

     .header .logo img{
         height: 7rem;
     }
     section {
         padding: 2rem;
     }
     .shop .box-container .box .box-head .name{
         font-size: 3.4rem;
     }
 }

 @media (max-width: 768px) {
   .header #menu-btn {
        display: inline-block;
    }
  
    .header .navbar{
        position: absolute;
        top: 95%;
        background-color: #fff;
        height: calc(100vh - 9rem);
        width: 30rem;
        box-shadow: 0px 14px 0px rgb(0 0 0 / 75%);
        right: -100% ;

        
    }
   
    .header  .navbar.active{
        right: 3rem;
    }


    .header .navbar a{
        color: var(--black-color);
        display: block;
        margin: 1.5rem;
        padding: 0.5rem;
        font-size: 2rem;

    }
 }

    @media (max-width: 576px){
        html{
            font-size: 50%;
        }
        .header #menu-btn{
            display: inline-block;
        }
    }


/*! responsive kısmı bitiş*/

/*! ÜYE OL*/

.container {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
}

.screen {		
	background: linear-gradient(90deg, #5D54A4, #7C78B8);		
	position: relative;	
	height: 600px;
	width: 360px;	
	box-shadow: 0px 0px 24px #5C5696;
}

.screen__content {
	z-index: 1;
	position: relative;	
	height: 100%;
}

.screen__background {		
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 0;
	-webkit-clip-path: inset(0 0 0 0);
	clip-path: inset(0 0 0 0);	
}

.screen__background__shape {
	transform: rotate(45deg);
	position: absolute;
}

.screen__background__shape1 {
	height: 520px;
	width: 520px;
	background: #FFF;	
	top: -50px;
	right: 120px;	
	border-radius: 0 72px 0 0;
}

.screen__background__shape2 {
	height: 220px;
	width: 220px;
	background: #003153;	
	top: -172px;
	right: 0;	
	border-radius: 32px;
}

.screen__background__shape3 {
	height: 540px;
	width: 190px;
	background: linear-gradient(270deg, #5D54A4, #6A679E);
	top: -24px;
	right: 0;	
	border-radius: 32px;
}

.screen__background__shape4 {
	height: 400px;
	width: 200px;
	background: gray;	
	top: 420px;
	right: 50px;	
	border-radius: 60px;
}

.login {
	width: 320px;
	padding: 30px;
	padding-top: 156px;
}

.login__field {
	padding: 20px 0px;	
	position: relative;	
}

.login__icon {
	position: absolute;
	top: 30px;
	color: #7875B5;
}

.login__input {
	border: none;
	border-bottom: 2px solid #D1D1D4;
	background: none;
	padding: 10px;
	padding-left: 24px;
	font-weight: 700;
	width: 75%;
	transition: .2s;
}

.login__input:active,
.login__input:focus,
.login__input:hover {
	outline: none;
	border-bottom-color: #6A679E;
}

.login__submit {
	background: #fff;
	font-size: 14px;
	margin-top: 30px;
	padding: 16px 20px;
	border-radius: 26px;
	border: 1px solid #D4D3E8;
	text-transform: uppercase;
	font-weight: 700;
	display: flex;
	align-items: center;
	width: 100%;
	color: #4C489D;
	box-shadow: 0px 2px 2px #5C5696;
	cursor: pointer;
	transition: .2s;
}

.login__submit:active,
.login__submit:focus,
.login__submit:hover {
	border-color: #6A679E;
	outline: none;
}

.button__icon {
	font-size: 24px;
	margin-left: auto;
	color: #7875B5;
}

.social-login {	
	position: absolute;
	height: 140px;
	width: 160px;
	text-align: center;
	bottom: 0px;
	right: 0px;
	color: #fff;
}

.social-icons {
	display: flex;
	align-items: center;
	justify-content: center;
}

.social-login__icon {
	padding: 20px 10px;
	color: #fff;
	text-decoration: none;	
	text-shadow: 0px 0px 8px #7875B5;
}

.social-login__icon:hover {
	transform: scale(1.5);	
}









